.cartDiv{
    border:1px red solid ;
    border-radius: 8px;
    background-color: rgb(253, 179, 193);
    width: 100%;
    height: 100%;
}
.cartDiv h2{
    text-align: center;
}
.btn button{
    width: 100%;
}
