.itemsH{
    display: flex;
    align-items: center;
    
}
.itemsH span{
    margin-right: 20px;
    color: white;
}
.header{
    display: flex; 
    justify-content: space-between;
    background-color: rebeccapurple;
    
}
.header img{
    height:  60px;
}